@import "tailwindcss";
@import "@fontsource/poppins/index.css";

.status-free {
    background-color: #4CAF50 !important;
    border: none;
}

.status-pending {
    background-color: #FFC107 !important;
    border: none;
}

.status-approved {
    background-color: #2196F3 !important;
    border: none;
}

.status-rejected {
    background-color: #F44336 !important;
    border: none;
}


@layer {
    .bg-hero{
        background-image: url('/home.jpg');
    }
    body {
       font-family: 'Poppins', sans-serif;
    }
}

