@import "tailwindcss";
@import "@fontsource/poppins/index.css";

.status-free {
	background-color: #4caf50 !important;
	border: none;
}

.status-pending {
	background-color: #ffc107 !important;
	border: none;
}

.status-approved {
	background-color: #2196f3 !important;
	border: none;
}

.status-rejected {
	background-color: #f44336 !important;
	border: none;
}

@layer {
	.bg-hero {
		background-image: url("/hero.jpg ");
	}
	body {
		font-family: "Poppins", sans-serif;
	}
}
